

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Rings</h2>
            <p class="card-text">Ring doughnuts are formed by one of two methods: by joining the ends of a long, skinny piece of dough into a ring, or by using a doughnut cutter, which simultaneously cuts the outside and inside shape, leaving a doughnut-shaped piece of dough and a doughnut hole (from the dough removed from the center). </p>
          </div>
          <div class="card-footer">
            <a href="https://en.wikipedia.org/wiki/Doughnut" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Filled</h2>
            <p class="card-text">Filled doughnuts are flattened spheres injected with fruit preserves, cream, custard, or other sweet fillings, and often dipped into powdered sugar or topped off with frosting. Common varieties include the Boston cream, coconut, key lime, and jelly.</p>
          </div>
          <div class="card-footer">
            <a href="https://en.wikipedia.org/wiki/Doughnut" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Holes</h2>
            <p class="card-text">Doughnut holes are small, bite-sized doughnuts that were traditionally made from the dough taken from the center of ring doughnuts. Before long, doughnut sellers saw the opportunity to market "holes" as a novelty and many chains offer their own variety, some with their own brand names such as "Munchkins" from Dunkin' Donuts and "Timbits" from Tim Hortons.</p>
          </div>
          <div class="card-footer">
            <a href="https://en.wikipedia.org/wiki/Doughnut" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->
